/* Hero Section Styles */
.hero {
    padding: 6rem 0;
    background-image: url(../images/header-bg.png);
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.hero-content, .biography-content {
    flex: 50%;
}

.hero-content p {
    margin: 2rem 0 4rem 0;
}

.hero-img, .biography-img {
    flex: 50%;
}

/* Biography Section Styles */
.biography {
    padding: 6rem 0;
    background-image: url(../images/biography-bg.png);
    background-size: cover;
    background-position: center center;
}

.biography-img {
    margin-right: 8rem;
}

.biography-content p {
    margin: 2rem 0 4rem 0;
}

/* Work Section Styles */
.work {
    padding: 6rem 0;
    background-image: url(../images/latest-work-bg.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
}

.work h2 {
    text-align: center;
    margin: 5rem;
}

.work-images {
    margin-right: 2rem;
}

.work-images:last-child {
    margin-right: 0;
}

/* Footer Section Styles */
.footer {
    padding: 6rem 0 3rem 0;
    text-align: center;
    background-image: url(../images/footer-bg.png);
    background-position: center left;
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer h2 {
    margin-bottom: 6rem;
}

.footer span {
    color: #707070;
    font-size: 1.8rem;
    display: block;
    margin-bottom: 3rem;
}

.quote {
    color: #333333;
    max-width: 38rem;
    margin: 0 auto 3rem auto;
    font-weight: 500;
}

.email {
    background-image:linear-gradient(#EC4F91, #ED4B73);
    padding: 4rem 7rem;
    border-radius: 5px;
    max-width: 55rem;
    margin: 0 auto 10rem auto;
}

.email-text {
    color: #fff;
    font-weight: 300;
    margin-bottom: 2rem;
}

.email-id {
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

.footer-text {
    font-weight: 300;
}

/* For Laptop or Under */
@media (max-width: 992px) {
    h1 {
        font-size: 6.1rem;
    }

    h2 {
        font-size: 4.5rem;
    }
}

/* For Teblate or Under */
@media (max-width: 768px) {
    .flex {
        flex-direction: column;
    }

    .hero-content {
        margin-bottom: 3rem;
    }

    .biography-img {
        margin-right: 0;
    }

    .work-images {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

/* For Mobile or Under */
@media (max-width: 500px) {
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    p {
        font-size: 1.4rem;
    }

    .btn {
        font-size: 2rem;
    }

    .email {
        padding: 2rem 3rem;
    }

    .email-id {
        font-size: 1.4rem;
    }
}